<!DOCTYPE html>
<html th:attrappend="manifest=${@useCache ? '/cache.manifest' : null}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: header"></head>
<body>

<div th:replace="fragments/layout :: top"></div>

<div class="text-center">
    <h1>Critical Failure!</h1>

    <p th:text="${message}">error message</p>
    <p th:text="${param.message[0]}" th:unless="${#arrays.isEmpty(param.message)}">error message</p>
</div>

<div th:replace="fragments/layout :: footer"></div>

</body>
</html>
