<!DOCTYPE HTML>
<html th:attrappend="manifest=${@useCache ? '/cache.manifest' : null}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: header"></head>
<body class="container">

<div th:replace="fragments/layout :: top"></div>

<div id="app" class="text-center">
    <player-character/>
</div>

<div th:replace="fragments/layout :: footer"></div>

<script type="module" src="/js/PlayerCharacter.js"></script>
<script type="module" src="/js/app.js"></script>
<script nomodule>
    document.getElementById("app").innerHTML = "Your browser doesn't support JavaScript modules :(";
</script>
</body>
</html>
